**/.env
**/__pycache__/
**/.ipynb_checkpoints/
**/.wheel_runtime_*.toml
*.pyc
*.pyo
.venv/
venv/
Notebooks/Example_?/Output/
Notebooks/Example_[0-9][0-9]/Output/
vre_python/**/Output/
vre_python/**/output/
/requirements.txt

build/

wheelhouse/

Notebooks/Example_?/Output/
Examples/Example_[0-9][0-9]/Output/
